<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>


<div>
    <% results.forEach(data=>{ %>
        <div>
              <h3> <%=data.namechar %></h3>
              <p> <%=data.qoute %></p>
              <img src=" <%=data.imagechar %>" alt="">

            
              <form action="/myfavorite" method="post">
            <input type="hidden" name="id" value="<%=data.id %>">
            <input type="submit" value="view details">
            </form>
        
        </div>
         <%}) %>
        
     
</div>




</main>
  
</body>
</html>